@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --black: #121212;
    --white: #f5f5f5;
    --blue: #01569b;
    --light-blue: #9ed3ff;
}

* {
    margin: 0;
    font-family: "Lato", sans-serif;
}

